body {
    background-color: #f8f9fa;
    overflow-x: hidden;
    font-family: sans-serif;
}


.sidebar {
    min-height: 100vh;
    width: 250px;
    background-color: #ffffff;
    border-right: 1px solid #dee2e6;
    flex-shrink: 0;
}

.sidebar .nav-link {
    color: #333;
    font-weight: 500;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar .nav-link.active {
    background-color: #e9ecef;
    color: #000;
    font-weight: bold;
    border-radius: 8px;
}

.sidebar .nav-link:hover {
    background-color: #f1f3f5;
    border-radius: 8px;
}


.header-bg {
    background-color: #212529;
    padding-bottom: 90px; 
    color: white;
    position: relative;
}


.month-selector {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    top: 55px;
    font-weight: bold;
    font-size: 1.1rem;
}


.card-overlap {
    margin-top: -60px; 
}


.icon-saldo {
    font-size: 2.5rem;
    color: #6c757d;
}


.transaction-icon-box {
    width: 45px;
    height: 45px;
    background-color: #6c757d;
    border-radius: 10px;
    position: relative;
    flex-shrink: 0;
}

.status-badge {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
    border: 2px solid #fff;
}

.text-small { font-size: 0.8rem; }
.cursor-pointer { cursor: pointer; }